@import "tailwindcss";

* {
  font-family: "Garamond";
}

.route-content {
  @apply ml-2 pt-4;
}

.route-title {
  @apply text-3xl font-bold mb-2;
}

.navbar-routes {
  @apply p-4 hover:bg-[#5e200c] rounded-md text-[#E1C16E] cursor-pointer;
}

.input-field {
  @apply outline-none;
}

.btn {
  @apply cursor-pointer rounded-md;
}
